{% extends '../layout.html' %}
{% load static %}
{% block content %}                      

<section class="category_section sec_ptb_100 pb-0 clearfix">
	<div class="container">
		<div class="ecommerce_category_masonry grid">
			<div class="grid-sizer"></div>
			{% for category in categories %}
			<div class="grid-item">
				<div class="ecommerce_category_fullimage">
					<img src="{{ category.image.url }}" alt="image_not_found">
					<h3 class="item_title">
						<a href="/category/{{category.slug}}">{{ category.title }}</a>
					</h3>
				</div>
			</div>
			{% endfor %}           
         </div>
                                </div>
                        </section>

			{% endblock %}
