{% extends '../layout.html' %}


{% block header %}

        <!-- breadcrumb_section - start
                        ================================================== -->                                                                                        <section class="breadcrumb_section minimal_fashion_breadcrumb text-center d-flex align-items-center clearfix" data-background="assets/images/breadcrumb/bg_10.jpg">                                                          <div class="container">                                                        <h1 class="medical_page_title mb_15">Products Page</h1>
                                </div>
                                <div class="mfb_nav">                                                          <div class="container-fluid prl_100">
                                                <ul class="medical_breadcrumb_nav ul_li_right clearfix">
                                                        <li><a href="#!">Home</a></li>                                                                                                                <li>Shop</li>
                                                        <li>Fashion Minimal</li>
                                                        <li>Shop Page</li>
                                                </ul>
                                        </div>
                                </div>
                        </section>
                        <!-- breadcrumb_section - end
                        ================================================== -->
{% endblock %}


{% block content %}
			<!-- details_section - start
			================================================== -->
			<section class="details_section shop_details sec_ptb_140 clearfix">
				<div class="container">
					<div class="row mb_100 justify-content-lg-between">
						<div class="col-lg-5 col-md-5">
							<div class="shop_details_image">
								<div class="tab-content">
									<div id="tab_1" class="tab-pane active">
										<img src="{{ product.image.url }}" alt="image_not_found">
									</div>
									<div id="tab_2" class="tab-pane fade">
										<img src="{{ product.image.url }}" alt="image_not_found">
									</div>
									<div id="tab_3" class="tab-pane fade">
										<img src="{{ product.image.url }}" alt="image_not_found">
									</div>
									<div id="tab_4" class="tab-pane fade">
										<img src="{{ product.image.url }}" alt="image_not_found">
									</div>
								</div>

								<ul class="nav ul_li clearfix" role="tablist">
									<li>
										<a class="active" data-toggle="tab" href="#tab_1">
											<img src="{{ product.image.url }}"  alt="image_not_found">
										</a>
									</li>
									<li>
										<a data-toggle="tab" href="#tab_2">
											<img src="{{ product.image.url }}"  alt="image_not_found">
										</a>
									</li>
							</ul>
							</div>
						</div>

						<div class="col-lg-7 col-md-7">
							<div class="shop_details_content">
								<h2 class="item_title">{{ product.title }}</h2>
								<span class="item_price">{{ product.discounted_amount }}</span>
								<hr>
								<p class="mb-0">
								{{ product.description }}
			</p>
								<hr>
								<ul class="btns_group_1 ul_li mb_30 clearfix">
									<li>
										<div class="quantity_input">
											<form method="post" action="/{{ product.category.slug }}/{{ product.slug }}/">
		{% csrf_token %}										<span class="input_number_decrement">–</span>
												<input class="input_number" type="text" name="units" value="1">
												<input class="minput_number" type="text" name="amount"  value="{{ product.amount }}" hidden >										<span class="input_number_increment">+</span>
												<button type="submit" class="custom_btn bg_black text-uppercase" href="#!"><i class="fal fa-shopping-bag mr-2"></i> Add To Cart</button>									</form>
										</div>
									</li>
									<li>
										<a class="custom_btn bg_black text-uppercase" href="#!"><i class="fal fa-shopping-bag mr-2"></i> Add To Cart</a>
									</li>
								</ul>
								<hr>

								<ul class="product_info ul_li_block clearfix">
									<li><strong>Categories:</strong> <a href="#!">Dress</a> <a href="#!">Handbag</a> <a href="#!">T-Shirts</a></li>
									<li><strong>Tags:</strong> <a href="#!">Hot</a> <a href="#!">Women</a></li>
								</ul>
							</div>
						</div>
					</div>

							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- details_section - end
			================================================== -->
{% endblock %}
