{% load unicorn %}
<div>
<form class="checkout-form" unicorn:submit.prevent="save()">
    <h4>Merchant information</h4>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" placeholder="First Name" unicorn:model.defer="first_name" />
        </div>
        <div class="col-lg-6">
            <input type="text" placeholder="Last Name" unicorn:model.defer="last_name" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" placeholder="E-mail" unicorn:model.defer="email">
        </div>
        <div class="col-lg-6">
            <input type="text" placeholder="Phone" unicorn:model.defer="phone">
        </div>
    </div>
    <h4 class="two">Delivery addresses</h4>
    <select class="nice-select Advice" style="display: none;" unicorn:model.defer="state">
        {% for code, state in states.items %}
        <option value="code">{{ state }}</option>
        {% endfor %}
    </select>
    <div class="row">
        <div class="col-lg-6">
            <input type="text"  placeholder="Street" unicorn:model.defer="street">
        </div>
        <div class="col-lg-6">
            <input type="text"  placeholder="House number" unicorn:model.defer="house_no">
        </div>
    </div>
    
    <button class="button-price" unicorn:click="save()" >Pay</button>
</form>
</div>