{% extends '../layout.html' %}

{% block header %}
<!-- breadcrumb_section - start
			================================================== -->
			<section class="breadcrumb_section text-white text-center text-uppercase d-flex align-items-end clearfix" data-background="assets/images/breadcrumb/bg_01.jpg">
				<div class="overlay" data-bg-color="#1d1d1d"></div>
				<div class="container">
					<h1 class="page_title text-white">Login Page</h1>
					<ul class="breadcrumb_nav ul_li_center clearfix">
						<li><a href="#!">Home</a></li>
						<li>Pages</li>
						<li>Login</li>
					</ul>
				</div>
			</section>
			<!-- breadcrumb_section - end
			================================================== -->
			{% endblock %}


{% block content %}

			<!-- register_section - start
			================================================== -->
			<section class="register_section sec_ptb_140 has_overlay parallaxie clearfix" data-background="assets/images/backgrounds/bg_22.jpg">
				<div class="overlay" data-bg-color="rgba(55, 55, 55, 0.75)"></div>
				<div class="container">
					<div class="reg_form_wrap login_form" data-background="assets/images/reg_bg_01.png">
						<form method="post", action="../auth/login/">
							{% csrf_token %}
							<div class="reg_form">
								<h2 class="form_title text-uppercase text-center">Login</h2>
				{% for field in form %}                  {% if not Password in field.label_tag %}				<div class="form_item">
									<input id="username_input" type="text" "{{field.name}}" name="{{field.name}}">
									<label for="username_input"><i class="fal fa-user"></i></label>
								</div>
{% elif field.label_tag is "email" %}
								<div class="form_item">
									<input id="username_input" type="email" placeholder="admin@fikifaka.com" name="{{field.name}}"  required>
									<label for="username_input"><i class="fal fa-unlock-alt"></i></label>
								</div>
						{% elif field.label_tag is "password1" %}
	
								<div class="form_item">                                                                                                            <input id="password_input" type="password" placeholder="Verify Password" name="{{field.name}}" required>                                                                                  <label for="password_input"><i class="fal fa-unlock-alt"></i></label>                                                                                       </div>
								{% elif field.label_tag is "password1" %}                                                                                                                                           <div class="form_item">                                                                                                            <input id="password_input" type="password" placeholder="Verify Password" name="{{field.name}}" required>                                                                                  <label for="password_input"><i class="fal fa-unlock-alt"></i></label>                                                                                       </div>	
						{% endif %}                             {% endfor %}
						<input type="hidden" name="next" value="{{ request.GET.next }}"/>
								<a class="forget_pass text-uppercase mb_30" href="#!">Forgot password?</a>
								<button type="submit" class="custom_btn bg_default_red text-uppercase mb_50">Login</button>

								<div class="create_account text-center">
									<h4 class="small_title_text text-center text-uppercase">Have not account yet?</h4>
									<a class="create_account_btn text-uppercase" href="#!">Sign Up</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			<!-- register_section - end
			================================================== -->

{% endblock %}


	
