{% extends '../layout.html' %}

{% block header %}
<!-- breadcrumb_section - start
			================================================== -->
			<section class="breadcrumb_section text-white text-center text-uppercase d-flex align-items-end clearfix" data-background="assets/images/breadcrumb/bg_01.jpg">
				<div class="overlay" data-bg-color="#1d1d1d"></div>
				<div class="container">
					<h1 class="page_title text-white">Password Reset Complete</h1>
					<ul class="breadcrumb_nav ul_li_center clearfix">
						<li><a href="#!">Home</a></li>
						<li>Pages</li>
						<li>Login</li>
					</ul>
				</div>
			</section>
			<!-- breadcrumb_section - end
			================================================== -->
			{% endblock %}


{% block content %}

			<!-- register_section - start
			================================================== -->
			<section class="register_section sec_ptb_140 has_overlay parallaxie clearfix" data-background="assets/images/backgrounds/bg_22.jpg">
				<div class="overlay" data-bg-color="rgba(55, 55, 55, 0.75)"></div>
				<div class="container">
					<div class="reg_form_wrap login_form" data-background="assets/images/reg_bg_01.png">
					
							<div class="reg_form">
								<h2 class="form_title text-uppercase text-center">Password Reset Complete</h2>
								<p>
								Password request was successfully completed. Continue to login.
								</p>
			
								<a type="submit" class="custom_btn bg_default_red text-uppercase mb_50" href="/auth/login/">Login</a>

							</div>
					</div>
				</div>
			</section>
			<!-- register_section - end
			================================================== -->

{% endblock %}


	
