{% extends '../layout.html' %}

{% block header %}
<!-- breadcrumb_section - start
			================================================== -->
			<section class="breadcrumb_section text-white text-center text-uppercase d-flex align-items-end clearfix" data-background="assets/images/breadcrumb/bg_01.jpg">
				<div class="overlay" data-bg-color="#1d1d1d"></div>
				<div class="container">
					<h1 class="page_title text-white">Reset Password</h1>
					<ul class="breadcrumb_nav ul_li_center clearfix">
						<li><a href="#!">Home</a></li>
						<li>Pages</li>
						<li>Reset Password</li>
					</ul>
				</div>
			</section>
			<!-- breadcrumb_section - end
			================================================== -->
			{% endblock %}


{% block content %}

			<!-- register_section - start
			================================================== -->
			<section class="register_section sec_ptb_140 has_overlay parallaxie clearfix" data-background="assets/images/backgrounds/bg_22.jpg">
				<div class="overlay" data-bg-color="rgba(55, 55, 55, 0.75)"></div>
				<div class="container">
					<div class="reg_form_wrap login_form" data-background="assets/images/reg_bg_01.png">
						<form method="post", action="../auth/reset_password/">
							{% csrf_token %}								<div class="reg_form">
								<h2 class="form_title text-uppercase text-center">Reset Password</h2>
			
								<div class="form_item">							{{ form.email }}	
									<label for="email"><i class="fal fa-at"></i></label>
								</div>	
						<input type="hidden" name="next" value="{{ request.GET.next }}"/>
								<a class="forget_pass text-uppercase mb_30" href="/auth/reset_password/">Forgot password?</a>
								<button type="submit" class="custom_btn bg_default_red text-uppercase mb_50">Login</button>

								<div class="create_account text-center">
									<h4 class="small_title_text text-center text-uppercase">Not registered yet?</h4>
									<a class="create_account_btn text-uppercase" href="/auth/register/">Sign Up</a>

								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			<!-- register_section - end
			================================================== -->

{% endblock %}


	
