<!DOCTYPE html>
{% load static %}
{% load unicorn %}
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="HugeBinary">
	<meta name="robots" content="">
	<meta name="description" content="MoonCart Shop & eCommerce HTML Template">
	<meta property="og:title" content="MoonCart Shop & eCommerce HTML Template">
	<meta property="og:description" content="MoonCart Shop & eCommerce HTML Template">
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON -->
	<link rel="icon" type="image/x-icon" href="https://mooncart.dexignzone.com/xhtml/images/favicon.png">

	<!-- PAGE TITLE HERE -->
	<title>MoonCart Shop & eCommerce HTML Template</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-select.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/themify-icons.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/flaticon_mooncart.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.min.css"
    integrity="sha512-PvB3Q4vTvWD/9aiiELYI3uebup/4mtou3Mc/uGudC/Zl+C9BdKUkAI+5jORfA+fvLK4DpzC5VyEN7P2kK43hjg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/swiper-bundle.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/lightgallery.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/lg-thumbnail.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/lg-zoom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

	<!-- GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
		rel="stylesheet">
	{% unicorn_scripts %}
</head>
<body>
	{% csrf_token %}
	
		<!--div id="loading-area" class="preloader-wrapper-1">
			<div>
				<span class="loader-2"></span>
				<img src="https://mooncart.dexignzone.com/xhtml/images/logo.png" alt="/">
				<span class="loader"></span>
			</div>
		</div-->
		
		<!-- Header -->
		<!-- Header End -->
		{% block content %}{% endblock %}
		<!-- Footer -->
		<footer class="site-footer footer-dark style-1">
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row fb-inner wow fadeInUp" data-wow-delay="0.1s">
						<div class="col-lg-6 col-md-12 text-start">
							<p class="copyright-text">© 2023 <a href="assets/https://hugebinary.com/">HugeBinary</a>
								Theme. All Rights Reserved.</p>
						</div>
						<div class="col-lg-6 col-md-12 text-end">
							<div
								class="d-flex align-items-center justify-content-center justify-content-md-center justify-content-xl-end">
								<span class="me-3">We Accept: </span>
								<img src="https://mooncart.dexignzone.com/xhtml/images/footer-img.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom End -->

		</footer>
		<!-- Footer End -->

		<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>

	
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script><!-- JQUERY MIN JS -->
	<script src="{% static 'assets/js/wow.min.js' %}"></script><!-- WOW JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script><!-- BOOTSTRAP MIN JS -->
	<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script><!-- BOOTSTRAP SELECT MIN JS -->
	<script src="{% static 'assets/js/bootstrap-touchspin.js' %}"></script><!-- BOOTSTRAP TOUCHSPIN JS -->

	<script src="{% static 'assets/js/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
	<script src="{% static 'assets/js/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
	<script src="{% static 'assets/js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
	<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script><!-- SWIPER JS -->
	<script src="{% static 'assets/js/imagesloaded.js' %}"></script><!-- IMAGESLOADED-->
	<script src="{% static 'assets/js/masonry-4.2.2.js' %}"></script><!-- MASONRY -->
	<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script><!-- ISOTOPE -->
	<script src="{% static 'assets/js/jquery.countdown.js' %}"></script><!-- COUNTDOWN FUCTIONS  -->
	<script src="{% static 'assets/js/dz.carousel.js' %}"></script><!-- DZ CAROUSEL JS -->
	<script src="{% static 'assets/js/lightgallery.min.js' %}"></script>
	<script src="{% static 'assets/js/lg-thumbnail.min.js' %}"></script>
	<script src="{% static 'assets/js/lg-zoom.min.js' %}"></script>
	<script src="{% static 'assets/js/dz.ajax.js' %}"></script><!-- AJAX -->
	<script src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM JS -->
</body>

</html>