{% extends 'base.html' %}
{% load unicorn %}
{% block content %}

<div class="page-content">
    <!--banner-->
    <div class="dz-bnr-inr style-3" style="background-image:url(images/background/bg-shape.jpg);">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Shop Standard</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"> Home</a></li>
                        <li class="breadcrumb-item">Shop Standard</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <section class="content-inner-1 pt-3 z-index-unset">
        <div class="container">
            {% unicorn 'products-list' %}
        </div>
    </section>
</div>
{% endblock %}