{% load unicorn %}
<div class="page-wraper">
    {% unicorn 'header' %}
    
    <div class="page-content">
        <!--banner-->
        <div class="dz-bnr-inr" style="background-image:url(images/background/bg-shape.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Cart</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"> Home</a></li>
                            <li class="breadcrumb-item">Cart</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- contact area -->
        <section class="content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="table-responsive">
                            <table class="table check-tbl">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th></th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for selection in selections %}
                                    <tr>
                                        <td class="product-item-img"><img
                                                src="{{ selection.item.thumbs.first.img.url }}" alt="/"></td>
                                        <td class="product-item-name">{{ selection.item.item }}</td>
                                        <td class="product-item-price">${{ selection.item.item.new_price }}</td>
                                        <td class="product-item-quantity">
                                            <div class="quantity btn-quantity style-1 me-3">
                                                <input type="text" value="{{ selection.unit }}" name="demo_vertical2">
                                            </div>
                                        </td>
                                        <td class="product-item-totle">${{ selection.item.item.new_price }}</td>
                                        <td class="product-item-close">
                                            <a role="button" unicorn:click="del_from_cart( {{ selection.pk }} )">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row shop-form m-t30">
                            <div class="col-md-6">
                                <h2 class="price">Cart Total: <span>111444</span></h2>

                            </div>
                            <div class="col-md-6 text-end">
                                <a href="shop-checkout.html" class="btn btn-secondary w-100">PLACE ORDER</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Product END -->
        </section>
        <!-- contact area End-->


    </div>
</div>