{% load unicorn %}
<div class="page-wraper">
{% unicorn 'header' %}
<div class="page-content">
	<!--banner-->
	<div class="dz-bnr-inr" style="background-image:url(images/background/bg-shape.jpg);">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Wishlist</h1>
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
						<li class="breadcrumb-item">Wishlist</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- inner page banner End-->
	

</div>
<div class="content-inner-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="table-responsive">
                    <table class="table check-tbl style-1">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th></th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wish in  wishlists %}
                            <tr unicorn:key="wish.id">
                                <td class="product-item-close"><a href="javascript:void(0);"><i class="ti-close"></i></a></td>
                                <td class="product-item-img"><img src="{{ wish.thumbs.first.img.url }}" alt="/"></td>
                                <td class="product-item-name">{{ wish.item.item }} </td>
                                <td class="product-item-price"><span>${{ wish.item.price }}</span><strong>${{ wish.item.new_price }}</strong></td>
                                <td class="product-item-stock text-primary">In Stock</td>
                                <td class="product-item-totle"><a role="button" unicorn:click="add_to_cart({{ wish.pk }})" class="btn btn-gray .btnhover text-nowrap">Add To Cart</a></td>
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>